.hero-container{
    height: 100vh;
    /* background-color: #FFDEE9;
    background-image: linear-gradient(0deg, #FFDEE9 0%, #B5FFFC 100%); */
    background-image: radial-gradient( circle 955px at 2.1% 2%,  rgba(131,249,212,1) 1.3%, rgba(131,240,249,1) 47.2%, rgba(250,212,251,1) 100.2% ); 
    display: flex;
    flex-direction: column;
}

.nav-container{
    font-size: 1rem;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 50px;
    align-items: center;
    justify-content: space-around;
}

.Logo{
    font-weight: 900;
    font-size: 2rem;
}

.color{
    color: #bdcf1fd7;
}

.right-nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:center;
    gap: 50px;
    margin-top: 10px;
    color: rgb(69, 18, 117);
    font-weight: 500;
}

.btn{
    padding: 12px 25px;
    outline: none;
    border: none;
    background-color: white;
    border-radius: 20px;
    color: rgb(69, 18, 117);
    font-weight: 600;
}


@media all and (max-width:800px)
{
    .right-nav{
        gap: 20px;
    }
}



.responsive{
    display: none;
}

.navbar-res{
    height: 400px;
    width: 80%;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 4px;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.068);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}


@media all and (max-width:600px)
{
    .nav-container{
        justify-content: space-between;
        padding: 30px;
    }
    .right-nav{
        display: none;
    }
    .bar{
        font-size: 1.6rem;
    }
    .responsive{
        display: block;
    }
    .btn{
        background-color: #eee;
        padding: 15px 30px;
    }
}


.main-container{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-items: center;
    justify-content: center;
}

.main-inner{
    display: flex;
    flex-direction: row;
    width: 75%;
    height: 100%;
    align-items: center;
    justify-content: center;
}


.right-content{
    display: flex;
    flex-direction: column;
    gap: 40px;
    color: #03045e;
    width: 70%;
}

.heading{
    font-size: 2.9rem;
    font-weight: 700;
}

.para{
    width: 70%;
    opacity: 1;
    font-weight: 400;
}

.explorebtn{
    width:30%;
    padding: 10px;
    border: none;
    background-color: #8C52EE;
    border-radius: 16px;
    color: white;
    box-shadow: 9px 11px 12px -8px rgba(140,82,238,0.75);
    font-weight: 600;
}

.child{
    color: #8C52EE;
}

@media all and (max-width:1200px){
    .explorebtn{
        width: 40%;
    }
}

@media all and (max-width:1000px){
    .main-inner{
        width: 85%;
    }
    .right-content{
        width: 100%;
    }
    .heading{
        font-size: 2.5rem;
    }
    .dimage{
        width: 320px;
        height: 320px;
    }
}

@media all and (max-width:700px){
    .dimages{
        display: none;
    }
    .main-container{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .main-inner{
        width: 80%;
        display: flex;
        align-content: center;
        justify-content: center;
    }
    .right-content{
        width: 100%;
    }
    .heading{
        font-size: 2rem;
    }
    .para{
        width: 90%;
        line-height: 23px;
    }
    .explorebtn{
        width: 50%;
    }
}